body{
  font-family: Montserrat;
}
#title{
  background-color:#ff4c68;
  color: white;
}

 h1{
   font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.navbar{
  padding:0 0 3rem;
}
.navbar-brand
{
font-family: 'Ubuntu-bold', sans-serif;
  font-size: 3.5rem;

}
.nav-item{
  padding: 0 15px;
}
.nav-link{
font-family: 'Montserrat-light', sans-serif;
  font-size: 1.3rem;
}

.collapse{
  position: absolute;
  right: 20px;
}

.butten{
  margin:5% 2% 3% 0;
}


.img1{
  width: 15%;
  margin: 10px 0;

}
.sec{
padding: 5%;
}
h2{
     font-family: 'Montserrat', sans-serif;
  color: white;
}

h3{
  font-size: 1.5rem;
font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat-light', sans-serif;
  color: #8f8f8f;
}
.img{
  width: 20%;
  transform: rotate(23deg);
  position: absolute;
  right: 21%;


}
#features{
  text-align: center;
position: relative;

  padding: 7% 15%;
  background-color: #fff;
}

/* testimonial  */
#testimonials{

  text-align: center;
    background-color: #ef8172;

}
.carousel-item{
    padding: 7% 18%;
}

.img3{
  width: 10%;
  border-radius: 100%;
}
/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
   padding: 1% 3% 3%;
}
.img4{
  width: 15%;
  margin: 10px 20px 10px;
}

#pricing{
  padding: 100px;
  text-align: center;
}

#pricing h2{
    color: #212529;
}
.pricing-coloumn{
  padding: 3% 2%;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
}
#cta h3{
  font-size: 2.5rem;
font-family: 'Montserrat', sans-serif;
line-height: 3rem;
padding: 5%  20% 2%;
color: #fff;
}


#footer{
  text-align: center;
    padding: 4% 10%;
}
.foot{
  margin: 10px;
}

@media (max-width:993px) {

#title{
  text-align: center;
}
  .img{
    position: static;
    transform: rotate(0);
    width: 60%;
  }



}
